<h1>Editing played game</h1>

<%= render "form", played_game: @played_game %>

<br>

<div>
  <%= link_to "Show this played game", @played_game %> |
  <%= link_to "Back to played games", played_games_path %>
</div>
