<div class="container">
    
    <br>
    <h1>About</h1>

    <table class="home-table">
        <tbody>
            <tr>
                <td class="home-box-1"><b>Contributors:</b> Ethan Leblanc, Hristiyan Hristov, and Alexander Hatfield</td>
            </tr>
        </tbody>
    </table>

</div>