.field {
    margin-bottom: 5px;
}

.actions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search {
    margin-top: 20px;
    margin-left: -10px;
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: min-content;
}

.yourlist_format {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.home_body {
    margin-top: 20px;
}